<section class="module parallax parallax-1" style="background-image: url('/api/upload/{{template.headerImg}}')">
    <div class="container">
        <h1>{{template.name}}</h1>
    </div>
</section>

<section class="module content">
    <div class="container">
        <h2>Why I love {{template.name}}</h2>
        <p>{{template.caption}}</p>
    </div>
</section>

<section class="module">
 <!--Google Maps-->
    <iframe
            id="gmap"
            width="100%"
            height="450"
            frameborder="0" style="border:0"
            src="" allowfullscreen>
    </iframe>
</section>

<section class="module content">
    <div class="container">
        <h2>Survival Guide</h2>
            <div class="sg-row">

                <div>
                   <img src="assets/places/sg-visa.png">
                    <h4 class="sg-item-name">Visas</h4>
                    <p class="sg-caption">Essential passport paperwork and visa info</p>
                </div>
                <div>
                    <img src="assets/places/sg-weather.png">
                    <h4 class="sg-item-name">Best time to go</h4>
                    <p class="sg-caption">Hit the ground at the right time</p>
                </div>
                <div>
                    <img src="assets/places/sg-cash.png">
                    <h4>Money and Costs</h4>
                    <p class="sg-caption">Budgets, currency rates and on-the-ground costs</p>
                </div>
                <div>
                    <img src="assets/places/sg-health.png">
                    <h4>Health</h4>
                    <p class="sg-caption" >Keep safe and well on the open road</p>
                </div>

            </div>
    </div>
</section>

