<div class="containter">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8" style="padding: 10%">
            <h1>Welcome</h1>
            <p>
                This is a sample website that can be controlled by a CMS.
                You can checkout the different pages in the navbar above.
                Please login to edit the content or add new pages.
            </p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>

