<div class="alert alert-warning text-center" role="alert">
    <form   class="form-horizontal"
            style="margin-top: 2%"
            novalidate
            role="form" name="deleteConfirmForm"
            ng-submit="deleteItem()">
        <h4>
            <strong class="control-label">Are you sure you want to delete {{itemToDelete}}?</strong>
        </h4>
        <div class="input-group has-warning" style="margin-top: 1%">
            <input type="text" class="form-control form-control-warning"
                   required
                   id="fieldDelete"
                   ng-model="delString"
                   placeholder="Type 'DELETE' to confirm">
            <div class="input-group-btn">
                <button type="submit"
                        class="btn btn-danger"
                        ng-disabled="deleteConfirmForm.$invalid">
                    Delete
                </button>
                <button ng-click="abort()"
                        class="btn btn-default">
                    Abort
                </button>
            </div>
        </div>
    </form>
</div>