<!DOCTYPE html>
<html lang="en" ng-app="MyCMSApp">
<head>
	<meta charset="UTF-8">
	<title>StackUp CMS</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script src="views/site/site.controller.js"></script>
</head>
<body ng-controller="MyCMSCtrl as ctrl">
	
	{{{ body }}}

</body>
</html>
