.toc {
  position: relative;
  float: left;
  width: 30%;

  ul {
    list-style-type: none;
  }
}

.main {
  position: relative;
  float: left;
  width: 65%;
}

.space-50px {
  margin-top: 50px;
}


