/*Main page*/
.toc {
  position: relative;
}
.toc ul {
  list-style-type: none;
}
.toc a{
    font-size: 18px;
    color: rgb(255,206,0);
}
.main {
  position: relative;
  width: 100%;
}
.space-50px {
  margin-top: 50px;
}
.update-panel{
}

h1 .header{
  float: left;
  width: 200px;
}

/*Log in Page */
#login{
    border: 1px solid rgb(233,233,233);
    border-radius: 5px;
    position: relative;
    width:650px;
    height: 230px;
    padding: 15px;
    margin-top: 10%;
}
#login form{
  float: right;
  width: 300px;
  height: 300px;
}
#login .logo {
  float:left;
  width: 250px;
  height: 180px;
  overflow: hidden;
  border-right: 1px solid rgb(233,233,233);
  padding: 10px;
  margin-top: 10px;
}

/*Site Page*/
.navbar{
    margin: 0;
}
.site{
    width: 100%;
}
/* Page Template*/

#topbar{
    display: block;
    width: 100%;
    height: 100px;
    background-color: #212121;
}

#stackup-logo{
    height: 100px;
    width: 175px;
    margin-left:20px;
}
#nus-logo{
    height:100px;
    width: 220px;
    float: right;
}

.ct-view{
    width: 900px;
    border: 1px solid black;
}

.ct-img{
    position: relative;
    float: right;
}
.ct-facts{
    width:500px;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
    max-width: 960px;
    margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    color:rgb(120,120,141);
    text-align: center;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*section.module.parallax-1 {*/
    /*background-image: url("assets/places/singapore.jpg");*/
/*}*/
/*section.module.parallax-2 {*/
    /*background-image: url("../img/demo/_small/2.jpg");*/
/*}*/
/*section.module.parallax-3 {*/
    /*background-image: url("../img/demo/_small/3.jpg");*/
/*}*/

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 16px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}

.sg-header{
    text-align: center;
}
.sg-row{
    text-align: center;
    list-style-type: none;
}
.sg-row div{
    display: inline-block;
}
.sg-item{
    width: 200px;
    display: inline;
}
.sg-item div{
    display: block;
    width: 200px;
    margin: 0px;
}
.sg-img{
    width: 110px;
    height: 120px;
    background: url("assets/places/sg-visa.png");
    overflow: hidden;
}
.sg-item-name{
    width:200px;
}
.sg-caption {
    font-size: 12px;
    width: 200px;
    color: rgb(21, 21, 21);
}
/*Navbar*/

.navbar-inverse{
    background-color: #212121;
    border-radius: 0;
    border-top: 0;
}

/* title */
.navbar-inverse .navbar-brand {
    color: #FFC526;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FFD561;
}

/*Active Link*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}


/*Dropdown*/
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
    background-color: #FFEBB3;
    color: #555555;
>>>>>>> style
}

/*
==========================================
Page Editor Styles
==========================================
*/

/*Image slection area styles*/
.stackUpInput{
    border: 1px solid #ffd72f;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}

.imageOption {
    width: 80%
}

.imageOption:hover {
    border: 3px solid lightgray;
    cursor: pointer;
    width: 80%
}

.radioBlock{
    display: block;
    margin: auto;
}

.imageDelBtn{
    margin-top: 5px;
}

.thumb{
    width: 75px;
    position: relative;
    z-index: -1;
}

/*File Upload area styles*/
.fileUploadArea {
    border-top: 1px solid #ffd72f;
    border-bottom: 1px solid #ffd72f;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%
}
.imgDropArea{
    width: 75%;
    margin: auto;
    padding: 5%;
}

.removeImage > span {
    color: #383008;
}

.removeImage:hover > span {
    color: #d3ae2b;
    cursor: pointer
}

.uploadPreview{
    position: relative;
    margin-top: 2%;
}

.submitBtn{
    margin-top: 2%;
    margin-bottom: 10%;
}