<h1 class="header">Welcome to StackUP CMS</h1>

<div class="update-panel">
    <h2>Updates:</h2>

    <ul>
        <li ng-repeat="update in dashboard.updates">
            {{update.description}}
        </li>
    </ul>
</div>