

<div id="login" class=".col-md-4 col-md-offset-4">
    <div class="logo"><img class="img-responsive" src="assets/stackup_text.svg"></div>
    <form class="form-horizontal" novalidate ng-submit="login.loginCheck()">
        <span style="color: red" ng-show="login.invalidCreds">Invalid username or password.</span>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="inputUsername">Username:</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="login.userDetails.username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="inputPassword" >Password:</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.userDetails.password">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-default col-sm-4" ng-disabled="form.$invalid">Login</button>
        </div>
    </form>
</div>
