<div id="topbar">
    <a href="http://stackup.sg"><img src="assets/stackup_logo.svg" id="stackup-logo"/></a>
    <img src="assets/nus-iss-mark-white-version.svg" id="nus-logo"/>
</div>

<div class="toc">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ui-sref="main.dashboard">Dashboard</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-target="#content-items">Content <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-ui-sref="main.pages">Pages</a></li>
                            <li><a data-ui-sref="main.media">Media</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-target="#user-items" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-target="#content-items">Users <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-ui-sref="main.users">Manage</a></li>
                        </ul>
                    </li>
                    <li><a data-ui-sref="main.settings">Settings</a></li>
                    <li><a data-ui-sref="site">View Site</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="mainCtrl.logOut()">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="main container">

    <div class="row">
        <div class="col-md-2 spacers" >
            &nbsp;
        </div>
        <div class="col-md-8 bodyContainer">
            <div data-ui-view></div>
        </div>
        <div class="col-md-2 spacers" >
            &nbsp;
        </div>
    </div>

</div>