<h1 class="header">Pages</h1>
<delete-warning ng-show="page.showWarning"
                del-string="page.delString"
                item-to-delete="page.data.pageToDelete"
                on-delete="page.deletePage()"
                on-abort="page.abort()">
</delete-warning>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Last Modified</th>
        <th></th>
        <th>
            <button type="button" class="btn btn-default" ng-click="page.addPage()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </button>
        </th>
    </tr>

    <tr ng-repeat="p in page.pages">
    <td>{{p.name}}</td>
        <td>{{p.author}}</td>
        <td>{{p["last-modified"]}}</td>
        <td>
            <button type="button" class="btn btn-default" ng-click="page.editPage($index)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="page.preDelete($index)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete
            </button>
        </td>
    </tr>

</table>