<h1>Page Editor</h1>

<form>
    <div class="form-group">
        <label for="PageName">Page Name</label>
        <input type="text"
               class="form-control
               stackUpInput"
               id="PageName"
               ng-model="pageEdit.name">
    </div>
    <div class="form-group">
        <label for="Content">Page Content</label>
        <textarea class="form-control stackUpInput"
                  id="Content"
                  rows="3"
                  style="resize: vertical"
                  ng-model="pageEdit.caption"></textarea>
    </div>
    <div class="container-fluid">
        <div class="row">
            <label>Choose Header image</label>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 center-block text-center imageOptionHolder"
                 ng-repeat="img in pageEdit.imgFilenamesStyle">
                <img class="imageOption"
                     ng-src="/api/upload/{{img.Id}}"
                     style={{img.Style}}
                     ng-click="pageEdit.selectImage(img)">
                <div class="btn btn-danger btn-xs imageDelBtn"
                        ng-click="pageEdit.deleteImg(img)">
                    Delete
                </div>
            </div>
        </div>

    </div>

    <div class="fileUploadArea container-fluid">
        <div class="row">
            <label>Upload new image if needed</label>
            <p>Note: only 3 images can be stored for each page at a time.</p>
        </div>
        <div class="row">
            <div class="drop-box imgDropArea text-center center-block stackUpInput"
                 ngf-drop
                 ng-model="pageEdit.file"
                 ngf-pattern="'image/*'"
                 ngf-accept="'image/*'"
                 ngf-max-sixe="100MB">
                <p>Drop file here or...</p>
                <div class="btn btn-default selectFileBtn"
                     ngf-select
                     ng-model="pageEdit.file"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-sixe="100MB">
                    Select file
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-show="pageEdit.file" class="uploadPreview text-center center-block">
                <p ng-click="pageEdit.file = null"
                   class="removeImage">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>Remove Selected File</span>
                </p>
                <img ngf-thumbnail="pageEdit.file"
                     class="thumb"><br><br>
                <div class="btn btn-default btn-xs " ng-click="pageEdit.addFile()">
                    Add Selected Image
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="submitBtn text-center">
        <div class="btn btn-warning btn-lg btn-block"
             ng-click="pageEdit.submitChange()"
             ng-disabled="form.$invalid">
            Submit
        </div>
    </div>


</form>