<h1>Users</h1>
<delete-warning ng-show="user.showWarning"
                del-string="user.delString"
                item-to-delete="user.data.usernameToDelete"
                on-delete="user.deleteUser()"
                on-abort="user.abort()">
</delete-warning>

<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Permission</th>
        <th></th>
        <th>
            <button type="button" class="btn btn-default" ng-click="user.addUser()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </button>
        </th>
    </tr>

    <tr ng-repeat="u in user.users">
        <td>{{u.username}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.permission}}</td>
        <td>
            <button type="button" class="btn btn-default" ng-click="user.edit($index)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="user.preDelete($index)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete
            </button>
        </td>
    </tr>
</table>