<h1>User Creator</h1>

<form>
    <p>Username: <input type="text" title="username" ng-model="userAdd.username"></p>
    <p>Name: <input type="text" title="name" ng-model="userAdd.name"></p>
    <p>Email: <input type="text" ng-model="userAdd.email" ></p>
    <p>Permission: <input type="text" ng-model="userAdd.perm"> </p>
    <input type="button" value="Submit" ng-click="userAdd.submitChange()">

</form>