<h1>User Editor</h1>

<form>
    <p>Username: <input type="text" title="username" ng-model="userEdit.username"></p>
    <p>Password: <input type="text" title="password" ng-model="userEdit.password"></p>
    <p>Name: <input type="text" title="name" ng-model="userEdit.name"></p>
    <p>Email: <input type="text" ng-model="userEdit.email" ></p>
    <p>Permission: <select type="text" ng-model="userEdit.permission">
        <option ng-repeat="perm in userEdit.permissions">{{perm}}</option>
    </select> </p>
    <input type="button" value="Submit" ng-click="userEdit.submitChange()">

</form>